.header
    .header__left
      %h2.header__left__group
        = group.name
      %ul.header__left__member
        Member：
        %li.header__left__member__name
          
    .header__edit
      = link_to "#", class: "header__edit__btn" do
        Editt