.chat
  .header
    .header__left
      %h2.header__left__group
        saru
      %ul.header__left__member
        Member：
        %li.header__left__member__name
          osaru
    .header__edit
      = link_to "#", class: "header__edit__btn" do
        Editt

  .main
    .main__box
      .main__box__info
        %p.main__box__info__name
          osaru
        %p.main__box__info__time
          2019/12/01(Sun) 13:38:11
      %p.main__box__messege
        kaa

  .messege-form
    %form.input-box
      .input-box__text
        %input.input-box__text__input{name: "messege", placeholder: "type a message", type: "text"}
        %label{class: "input-box__text__image"}
          = icon('fas', 'image')
          %input.input-box__text__file{type: "file"}
      %input.input-box__send{name: "comit", data: "Send", type: "submit", value: "Send"}
        