.main__box
  .main__box__info
    %p.main__box__info__name
      = message.user.name
    %p.main__box__info__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main__box__message
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'main__box__messege__image' if message.image.present?