.main__box{data: {message: {id: message.id}}}
  .main__box__info
    %p.main__box__info__name
      = message.user.name
    %p.main__box__info__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main__box__message
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'main__box__messege__image' if message.image.present?