* {
  box-sizing: border-box;
}

.sidebar {
  float: left;
  width: 300px;
  color: #ffffff;
  .side-header {
    background-color: #253141;
    height: 100px;
      display: flex;
      align-items: center;
      padding: 0px 20px;
    &__box {
      width: 100%;
        background-color: #253141;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        &__icon {
          display: flex;
          &__btn {
            color: #ffffff;
            margin-left: 5px;
            &__edit {
              display: inline-block;
            }
          }
        }
      }
    }
    .group {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      &__box {
        font-size: 15px;
        margin-bottom: 40px;
        &__name {
          color: #ffffff;
          margin-bottom: 5px;
          text-decoration: none;
        }
        &__messege {
          color: #ffffff;
          font-size: 11px;
        }
      }
    }
}

.chat {
  float: right;
  height: 100%;
  width: calc(100vw - 300px);
  .header {
    height: 100px;
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    &__left {
      margin-top: 35px;
      &__group {
        font-size: 20px;
        margin-bottom: 15px;
        color: #333333;
      }
      &__member {
        display: flex;
        font-size: 12px;
        color: #999999;
      }
    }
    &__edit {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
      display: flex;
      &__btn {
        color: #38aef0;
        text-decoration: none;
      }
    }
  }
  .main {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    &__box {
      padding-bottom: 40px;
      &__info {
        display: flex;
        margin-bottom: 10px;
        &__name {
          font-size: 16px;
          color: #434a54;
          font-weight: bold;
        }
        &__time {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      &__message {
        font-size: 14px;
        color: #434a54;
        margin-bottom: 10px;
      }
    }
  }
  .message-form {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
    .new_message {
      display: flex;
    }
    .input-box {
      position: relative;
      display: flex;
      &__input {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      &__file {
        display: none;
      }
      &__image {
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
    .send {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}


// .messege-form {
//   height: 90px;
//   padding: 20px 40px;
//   background-color: #d2d2d2;
//   .new_message {
//     display: flex;
//   }
//   .input-box {
//     width: 100%;
//     position: relative;
//     display: flex;
//     &__input {
//       height: 50px;
//       width: 100%;
//       padding: 0 40px 0 10px;
//       color: #434a54;
//       border-style: none;
//     }
//     &__file {
//       display: none;
//     }
//     &__image {
//       font-size: 1.3rem;
//       position: absolute;
//       top: 10px;
//       right: 10px;
//       cursor: pointer;
//     }
//   }
//   &__send {
//     width: 100px;
//     height: 50px;
//     padding: 0 30px;
//     margin-left: 15px;
//     background-color: #38aef0;
//     color: white;
//     cursor: pointer;
//   }
// }